* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-image: url("/SIH-Workspace/alumni_assoc_vite/frontend/bg.jpg");
    background-size: cover;
    /* background: linear-gradient(to right, #00C6FF, #0072FF); */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 40px;
    border-radius: 15px;
    backdrop-filter: blur(10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    width: 350px;
}

form {
    display: flex;
    flex-direction: column;
}

h2 {
    text-align: center;
    color:black;
    margin-bottom: 20px;
}

.input-box {
    position: relative;
    margin-bottom: 30px;
}

.input-box input {
    width: 100%;
    padding: 10px;
    background: transparent;
    border: none;
    border-bottom: 2px solid rgba(0, 0, 0, 0.558);
    color: black;
    font-size: 16px;
    outline: none;
    transition: 0.3s;
    padding-right: 35px;
}

.input-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    pointer-events: none;
    color: black;
    font-size: 16px;
    transition: 0.3s;
}

.input-box input:focus ~ label,
.input-box input:valid ~ label {
    top: -20px;
    color: rgba(0, 0, 0, 0.504);
}

.input-box .icon{
    position: absolute;
    right: 8px;
    line-height: 40px;
    font-size: 1.2em;
  }

.error-message {
    color: red;
    font-size: 0.9em;
    display: none;
}

.btn {
    background-color: #4caf50;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s;
    margin-bottom: 20px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.btn:hover {
    background-color: #45a049;
}

.btn a{
    color: #fff;
    text-decoration: none;
}


/* Responsive Design */
@media (max-width: 768px) {
    .form-container {
        width: 90%;
        padding: 20px;
    }

    .input-box input {
        font-size: 14px;
    }

    .input-box label {
        font-size: 14px;
    }

    .btn {
        padding: 10px;
    }
}
