body {
  font-family: "Poppins", sans-serif;
  background: linear-gradient(135deg, #f5f7fa 0%, #a2e0e1 100%);
}

.scrollable-content {
  height: calc(100vh - 4rem);
  overflow-y: auto;
}

.bg-primary {
  background-color: #2c7772;
}

.bg-secondary {
  background-color: #1e5954;
}

.bg-accent {
  background-color: #ff6b6b;
}

.bg-hover {
  background-color: #a2e0e1;
}

.bg-banner {
  background-color: #a2e0e1;
  object-fit: cover;
}

.text-light {
  color: #f9fafb;
}

.text-muted {
  color: #a2e0e1;
}

.text-primary {
  color: #2c7772;
}

.sidebar-link {
  transition: all 0.3s ease;
}

.sidebar-link:hover {
  background-color: #a2e0e1;
  color: #2c7772;
  transform: translateX(5px);
}

.nav-shadow {
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

button:hover {
  background-color: #cc0000; /* Dark red */
  box-shadow: 0 0 10px 2px rgba(255, 255, 255, 0.8); /* White shadow */
}
