/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url('bg.jpg') no-repeat center center fixed; /* Set background image */
    background-size: cover;
}

/* Sidebar Menu */
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #1c3988; /* darkBlue color */
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #FFFFFF; /* white color */
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    background-color: #00a7db; /* profileTabBarColor */
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Header */
.header {
    background-color: #92D5F3; /* bgSplashScreen color */
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

/* Hamburger menu icon */
.menu-icon {
    font-size: 30px;
    cursor: pointer;
    color: #000000; /* Black color */
    position: absolute;
    top: 10px;
    left: 20px;
    z-index: 2; /* Ensure the menu icon is above the search bar */
}

/* Search Bar */
.search-bar {
    padding: 10px;
    width: 70%;
    font-size: 16px;
    border: 1px solid #FF808080; /* gray color */
    border-radius: 5px;
    color: #1c3988; /* darkBlue color for text */
    position: absolute;
    right: 20px;
    top: 10px;
    z-index: 1; /* Ensures search bar is behind the menu icon */
}

/* Plus Button */
.plus-button {
    font-size: 30px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: #00a7db; /* profileTabBarColor */
    color: #FFFFFF; /* white color */
    padding: 15px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s;
}

.plus-button:hover {
    background-color: #1c3988; /* darkBlue color on hover */
}

.plus-menu {
    display: none;
    position: fixed;
    bottom: 80px;
    right: 30px;
    background-color: #FFFFFF; /* white color */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    z-index: 1;
}

.plus-menu a {
    padding: 10px 20px;
    display: block;
    text-decoration: none;
    color: #1c3988; /* darkBlue */
    font-size: 18px;
    border-bottom: 1px solid #FF808080; /* gray color */
}

.plus-menu a:last-child {
    border-bottom: none;
}

.plus-menu a:hover {
    background-color: #92D5F3; /* bgSplashScreen */
}

/* Toggle Sidebar Animation */
#sidebar.active {
    width: 250px;
}

#plusMenu.active {
    display: block;
}
